*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  // background-image: url(/public/light_blue_mini_dots_on_blue.jpg);
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
nav{
  border-bottom: 2px solid #666;
  height: 150px;
  h1{
    float: left;
    margin:0;
    line-height: 150px;
    img{
      width: 120px;
      border:1px dashed black;
      vertical-align:middle;
      background: #FFF;
      padding: 20px
    }
  }
  button{
    float:right;
    margin: 40px 10px;
    border-radius:  10000px;
    height: 70px;
    width: 70px;
    background: #dca2ab;
  }
  form{
    border: 1px solid #999;
    padding: 10px;
    margin: 10px;
    float:right;

    button{
      margin: 0 auto;
      height: 30px;
      width: 70px;
    }
    input{
      float:right;
      margin:0 10px;
    }
  }
}

.ctrl-app{
  text-align: center;
}
ul{
  list-style-type: none;
}
.register-form{
  text-align: center;
  form{
    width: 50%;
    margin: 0 auto;
    input{
      float:right;
    }
  }
}
.clearfix::after,
.clearfix::after{
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}
